<!DOCTYPE html>
<html>
<head>
    <title>u p p e r c a s e</title>
</head>
<link rel="icon" type="image/png" href="https://64.media.tumblr.com/3fe16236837fbb10016168b5d4db3072/8220a366a916fe30-19/s1280x1920/22a88296411f309599d1903aa1565ab31fe62f87.gifv">
<body style="background-image: url('/static/images/selit.jpg'); 
             background-size: cover; 
             background-repeat: no-repeat; 
             background-attachment: fixed;">
             
    <h1 style="font-family: 'Lucida Console', serif; font-size: 100px; 
               text-align: center; 
               color: rgb(255, 255, 255);
               position: absolute; top: 30px; left: 0; right: 0; bottom: 50px; -webkit-text-stroke: 1px rgb(255, 255, 255); font-size: 50px;">
        convert &nbsp;    to   &nbsp;  p o s t f i x
    </h1>

    <form action="/finixtopostfix" method="post"
        style="position: absolute; top: 200px; left: 560px; padding: 20px; background: rgba(0, 21, 255, 0.5); color: rgb(255, 255, 255);">
       <label>Enter infix expression:</label>
        <input type="text" name="expression" required>
        <button type="submit">Convert</button>
    </form>

    <img src="/static/images/anxbo.jpg" height="320" alt="answer box!"
       style="position: absolute; bottom: 110px; left: 580px;">


    <img src="https://64.media.tumblr.com/f034c61d2ac3308917e713605e3c7f40/ee201d14dd7fff89-06/s1280x1920/70e460b25729c5d5bc45fe2d62c9f1bff4f835f2.gifv" height="420" alt="answer box!"
       style="position: absolute; top: 160px; left: 1045px;">

    <img src="https://64.media.tumblr.com/f034c61d2ac3308917e713605e3c7f40/ee201d14dd7fff89-06/s1280x1920/70e460b25729c5d5bc45fe2d62c9f1bff4f835f2.gifv" height="160" alt="answer box!"
       style="position: absolute; top: 280px; left: 1125px;">

    <img src="https://64.media.tumblr.com/996d8f45ba1de5285ed1fa8090e7069c/tumblr_mxz36vPSDc1scncwdo1_500.gifv" height="160" alt="bulbasaur"
       style="position: absolute; top: 445px; left: 1230px;">

    <img src="https://64.media.tumblr.com/ff125c98d56f519cfa0bd462d249bac7/4a55f5a520e577fc-31/s250x400/fe174657df39c51d97b0d7675e1644e6e75ec381.gifv" height="160" alt="jirachi"
       style="position: absolute; top: 150px; left: 400px;">

    <img src="https://media.tenor.com/C21__JHNM8kAAAAj/mew-pokemon.gif" height="160" alt="jirachi"
       style="position: absolute; top: 150px; right: 400px;">

     <img src="https://64.media.tumblr.com/56f7f289f1411c0f48588e8c62df536c/1f9f73ab38edcadf-15/s640x960/5b86c83fe8564d8060b96438a3e2d59a23541f05.gifv" height="160" alt="phone!"
       style="position: absolute; top: 10px; left: 105px;">

     <img src="https://64.media.tumblr.com/df9de72a57c051ca21fe3b5b5bb77990/c8573101875eb5e7-d5/s540x810/26d81ba0454861a0a69dc864b339928da546dabf.gifv" height="260" alt="answer box!"
       style="position: absolute; top: 210px; left: 85px;">

    <img src="https://64.media.tumblr.com/3728c909b8f8a9fa187cd2f03f396b52/724c01323ab11048-ea/s1280x1920/2b028309646ae672d57a906135af68163bb62932.gifv" height="150" alt="answer box!"
       style="position: absolute; top: 340px; right: 1170px;">

    <img src="https://64.media.tumblr.com/e3442978534281f8959aaf8c1bfca734/7ee4fc261a9d7585-e9/s100x200/3ee2142f2402c5430b2725225efd698154018268.gifv" height="150" alt="answer box!"
       style="position: absolute; top: 340px; right: 1000px;">

    <img src="https://64.media.tumblr.com/e3442978534281f8959aaf8c1bfca734/7ee4fc261a9d7585-e9/s100x200/3ee2142f2402c5430b2725225efd698154018268.gifv" height="150" alt="answer box!"
       style="position: absolute; top: 340px; left: 1000px;">

    <img src="https://assets.tumblr.com/images/x.gif" height="160" alt="answer box!"
       style="position: absolute; top: 20px; left: 1305px;">

    <a href="https://en.wikipedia.org/wiki/Vaporwave" target="_blank">
    <img src="https://64.media.tumblr.com/56f7f289f1411c0f48588e8c62df536c/1f9f73ab38edcadf-15/s640x960/5b86c83fe8564d8060b96438a3e2d59a23541f05.gifv" height="160" alt="answer box!"
       style="position: absolute; top: 20px; left: 1305px;;">
    </a>

     <h1 style="font-family: 'Lucida Console', serif; font-size: 50px; 
               color: rgb(242, 0, 255);
               position: absolute; top: 600px; left: 110; right: 40px; bottom: 100px; -webkit-text-stroke: 1px rgb(0, 4, 255); font-size: 20px;">
        e n j o y &nbsp; t h e &nbsp; v a p o r w a v e
    </h1>

     <h1 style="font-family: 'Lucida Console', serif; font-size: 50px; 
               color: rgb(242, 0, 255);
               position: absolute; top: 470px; right: 1275px; bottom: 100px; -webkit-text-stroke: 1px rgb(0, 4, 255); font-size: 20px;">
    walkcat 
    </h1>

{% if result %}
<div id="result" style="
    position: absolute;
    top: 310px;
    left: 594px;
    color: rgb(0, 0, 0);
    line-height: 100px;
    font-size: 14px;
    font-family: 'Lucida Console', serif;">
    evolved to: {{ result }}
</div>
{% endif %}
</body>
</html>
