<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
    <img src="/static/images/tech.gif" height="400" width="400"  alt="greetitngs gif!"
        style="display:block; margin:auto;">




<body style="background-image: url('/static/images/selit.jpg'); 
             background-size: cover; 
             background-repeat: no-repeat; 
             background-attachment: fixed;">


    <nav>
            <img src="/static/images/gunni.gif" height="200" alt="a 3d gun" title="blob wow xd"
                style="position: absolute; top: 100px; left: 390px; width: 200px;">
            <a href="/profile">

            <img src="/static/images/pfp.gif" height="200" alt="a 3d gun" title="Takes you to my profile"
                style="position: absolute; top: 290px; left: 20px; width: 200px;">
                <h3 style="font-family: 'Lucida Console', serif; font-size: 20px; 
                    text-align: left; 
                    color: rgb(255, 255, 255);
                    position: absolute; top: 490px; left: 40px; width: 200px;">
                    p r o f i l e
                </h3>

            <a href="/works">Works</a></li>
            <img src="/static/images/work.gif" height="200" alt="a 3d gun" title="Takes you to my works? find out..."
                style="position: absolute; top: 350px; right: 900px; width: 200px;">
                 <h3 style="font-family: 'Lucida Console', serif; font-size: 20px; 
                    text-align: left; 
                    color: rgb(255, 255, 255);
                    position: absolute; top: 490px; right: 400px; width: 200px;">
                    w o r ks
                </h3>







            <a href="/contact">Contact</a></li>
            <img src="/static/images/nokia.gif" height="200" alt="a 3d gun" title="Takes you to my profile">
    </nav>


    <h1>Welcome to my programming works</h1>
    <p>Instruction: create a route and a page for the link that are not working</p>

    <ul>
        <li><a href="/works">toUpperCase</a></li>
        <li><a href="/areaOfcirle">Area of a Circle</a></li>
        <li><a href="/areaOfTriangle">Area of a Triangle</a></li>
    </ul>
</body>
</html>

    <audio controls loop>
        <source src="/static/audio/vapor.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>