<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
    <link rel="icon" type="image/png" href="/static/images/2.gif">
    <img src="/static/images/profile.gif" height="400" width="400"  alt="greetings gif!"
       style="display: block; margin: 0px 1550px 0px 100px; width: 300px;">
       
    <img src="/static/images/totoo.gif" height="400" width="400"  alt="greetings gif!"
       style="position: absolute; bottom: 300px; left: 565px;">

    <img src="/static/images/call.gif" height="400" width="400"  alt="greetings gif!"
       style="position: absolute; bottom: 300px; left: 1025px;">
    

    
<h1 style="font-family: 'Lucida Console', serif; font-size: 50px; 
               text-align: center; 
               color: rgb(255, 255, 255); -webkit-text-stroke-color: black 90px ;
               position: absolute; top: 20px; left: 0; right: 0;">
        w e l c o m e &nbsp; t o &nbsp; m y &nbsp; w e b s i t e



<body style="background-image: url('/static/images/selit.jpg'); 
             background-size: cover; 
             background-repeat: no-repeat; 
             background-attachment: fixed;">


    <nav>
            <img src="/static/images/point.gif" height="100" alt="a 3d gun" title="you're actually reading this?"
                style="position: absolute; top: 230px; left: 205px; width: 100px; transform: rotate(180deg);">
      
                
            <img src="/static/images/point.gif" height="100" alt="a 3d gun" title="stop!"
                style="position: absolute; top: 230px; left: 705px; width: 100px; transform: rotate(180deg);">
           

             <img src="/static/images/point.gif" height="100" alt="a 3d gun" title="you have been blessed by the giant potato"
                style="position: absolute; top: 230px; left: 1190px; width: 100px; transform: rotate(180deg);">
          
            <a href="/profile">
            <img src="/static/images/pfp.gif" height="200" alt="me?" title="Takes you to my profile"
                style="position: absolute; top: 290px; left: 160px; width: 200px;">
                <h3 style="font-family: 'Lucida Console', serif; font-size: 20px; 
                    text-align: left; 
                    color: rgb(255, 255, 255);
                    position: absolute; top: 490px; left: 180px; width: 200px;">
                    p r o f i l e
                </h3>
            </a>

            <a href="/works">
            <img src="/static/images/work.gif" height="200" alt="find it here" title="Takes you to my works? find out..."
                style="position: absolute; top: 330px; right: 650px; width: 200px;">
                 <h3 style="font-family: 'Lucida Console', serif; font-size: 20px; 
                    text-align: left; 
                    color: rgb(255, 255, 255);
                    position: absolute; top: 490px; right: 600px; width: 200px;">
                    w o r ks
                </h3>
            </a>

            <a href="/contact">
            <img src="/static/images/nokia.gif" height="200" alt="trying to find me?" title="Takes you to my profile"
                style="position: absolute; top: 330px; left: 1140px; width: 200px;">
                 <h3 style="font-family: 'Lucida Console', serif; font-size: 20px; 
                    text-align: left; 
                    color: rgb(255, 255, 255);
                    position: absolute; top: 490px; right: 150px; width: 200px;">
                    c o n t a c t
                </h3>
            </a>

    </nav>

  <h1 style="font-family: 'Lucida Console', serif; font-size: 10px; 
               text-align: center; 
               color: rgb(255, 255, 255); -webkit-text-stroke-color: black 90px ;
               position: absolute; top: 900px; left: 0; right: 0; bottom: 20px;">
        hello &nbsp; you &nbsp; found &nbsp; me! click me for experience!


<audio controls loop 
       style="display: block; margin: 10px auto auto auto; width: 300px;">
  <source src="/static/audio/vapor.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>


</body>
  