<!DOCTYPE html>
<html>
<head>
    <title>M e n u</title>
</head>
<link rel="icon" type="image/png" href="/static/images/work.gif">
<body style="background-image: url('/static/images/selit.jpg'); 
             background-size: cover; 
             background-repeat: no-repeat; 
             background-attachment: fixed;">

    <img src="/static/images/templa.gif" height="650" width="650"  alt="wow gif!"
       style="position: absolute; bottom: 300px; left: 415px;">

           <a href="/touppercase">
            <img src="/static/images/vaporwave.gif" height="200" alt="trying to find me?" title="click me!"
                style="position: absolute; top: 330px; left: 1140px; width: 200px;">
                 <h3 style="font-family: 'Lucida Console', serif; font-size: 30px; 
                    text-align: left; 
                    color: rgb(255, 255, 255);
                    position: absolute; top: 490px; right: 260px; width: 200px;">
                    uppercase_converter
                </h3>
            </a>

            <a href="/areaofcircle">
            <img src="/static/images/ui.gif" height="200" alt="find it here" title="click me!"
                style="position: absolute; top: 330px; right: 690px; width: 200px;">
                 <h3 style="font-family: 'Lucida Console', serif; font-size: 30 px; 
                    text-align: left; 
                    color: rgb(255, 255, 255);
                    position: absolute; top: 510px; right: 635px;">
                    a r e a &nbsp; o f &nbsp; c i r c l e
                </h3>
            </a>

            <a href="/areaoftriangle">
            <img src="/static/images/ngle.gif" height="200" alt="me?" title="click me!"
                style="position: absolute; top: 300px; left: 160px; width: 200px;">
                <h3 style="font-family: 'Lucida Console', serif; font-size: 30px; 
                    text-align: left; 
                    color: rgb(255, 255, 255);
                    position: absolute; top: 490px; left: 130px;">
                    t r i a n g l e
                </h3>
            </a>
        <a href="https://www.youtube.com/watch?v=KVjBCT2Lc94&list=RDKVjBCT2Lc94&start_radio=1" target="_blank">
        <img src="/static/images/malakazam.gif" height="200" width="200"  alt="greetings gif!"
            style="position: absolute; bottom: 510px; left: 1045px;">
        </a>

        <a href="https://youtu.be/H69rFWqrpkU?si=PE6eOkZFUPt4ngpC" target="_blank">
       <img src="/static/images/mawile-pokemon.gif" height="200" width="200"  alt="greetings gif!"
       style="position: absolute; bottom: 510px; left: 255px;">
       </a>
</body>
</html>
